<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Video Stream{% endblock %}</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'core/style.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.css" />
    {% block css_links %}
    {% endblock %}
    {% block head_scripts %}
    {% endblock %}
</head>
<body>
    <nav>
        <div class="nav-wrapper">
            <a href="#" class="brand-logo">Streamia</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="#">Upload</a></li>
                <li><a href="{% url 'videostream:video-file-explorer' %}">Videos</a></li>
            </ul>
        </div>
    </nav>
    {% block body %}
    {% endblock %}

    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.js"></script>
    {% block scripts %}
    {% endblock %}
</body>
</html>